:root {
    --base-color: #f0ffff;
    --button-color: rgb(139, 175, 252);
    --text-color: #000000;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: var(--text-color);
}

body {
    padding: 1em;
    background: linear-gradient(to right, rgb(161, 224, 249), rgb(3, 62, 62))
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    z-index: 1000;

}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 1em;
}

nav li:first-child {
    margin-right: auto;
}

nav a {
    display: inline-flex;
    align-items: center;
}

nav a:hover {
    background-color: rgb(83, 105, 154);
    transform: scale(1.1);
}

header {
    margin: 2em auto;
    height: 90vh;
    width: min(30em, 100%);
    background-color: var(--base-color);
    border-radius: 1em;

}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1.5em;
    max-width: 1200px;
    margin: 0 auto;
    padding: 7em;
    box-sizing: border-box;

}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--button-color);
    padding: 0.75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
    margin-inline: .5em;
}

.cta-button:hover {
    transform: scale(1.1);
}

.userinput {
    display: inline-block;
    background-color: var(--base-color);
    padding: 1em;
    gap: 3em;
    font-size: 1rem;
}

input[type="text"],
input[type="email"],
input[type="submit"] {

    width: 100%;
    border-radius: 1em;
    padding: 0.25em;
    margin: 1em;
    background-color: aliceblue;
    box-sizing: border-box;
}

button {
    padding: .5em;
    width: 100%;
    border-radius: 1em;
    margin: 1em;
    cursor: pointer;
    color: white;
    background-color: var(--button-color);
}

button:hover {
    transform: scale(1.1);
}

h1,
h2 {
    color: rgb(1, 1, 23);
}