:root {
    --base-color: #d0f8f8;
    --button-color: rgb(31, 120, 140);
    --text-color: #000000;

    --heading-font: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: var(--text-color);
}

body {
    padding: 1em;
    background: linear-gradient(to right, rgb(161, 224, 249), rgb(3, 62, 62))
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    z-index: 1000;

}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 1em;
}

nav li:first-child {
    margin-right: auto;
}

nav a {
    display: inline-flex;
    align-items: center;
    box-shadow: .001em .2em 2em rgb(37, 40, 46);
}

nav a:hover {
    background-color: rgb(14, 71, 71);
    transform: scale(1.1);
}

header {}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1.5em;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 7em/=; */
    padding: 10px 40px;

    margin: 2em auto;
    height: 85vh;
    width: min(30em, 100%);
    background-color: aliceblue;
    border-radius: 1em;
    box-shadow: .5em 4px 2em rgb(37, 40, 46);


}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--button-color);
    padding: 0.75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
    margin-inline: .5em;
}

.cta-button:hover {
    transform: scale(1.1);
    background-color: rgb(14, 71, 71);
}

.userinput {
    display: inline-block;
    background-color: aliceblue;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    gap: 3em;
    font-size: var(--heading-font);
}

input[type="text"],
input[type="email"],
input[type="submit"] {

    width: 100%;
    border-radius: .5em;
    padding: 0.25em;
    margin: 1em;
    background-color: aliceblue;
    box-sizing: border-box;
    border-color: black;
}

button {
    padding: .5em;
    width: 100%;
    border-radius: 1em;
    margin: 1em;
    cursor: pointer;
    color: white;
    background-color: var(--button-color);
}

button:hover {
    transform: scale(1.1);
    background-color: rgb(14, 71, 71);
}

h1,
h2 {
    color: rgb(1, 1, 23);
}

@media(max-width: 800px) {
    nav ul {
        display: none;
    }

    nav ul:first-child {
        display: block;
        align-items: center;
    }

    header {
        margin-top: 0;
    }

    .cta-button {
        align-items: center;
        width: fit-content;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 0;

    }

    .flex-container {
        display: flex;
        width: 100%;
        max-height: fit-content;
    }
}

footer a {
    display: block;
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-size: large;
}

footer:hover {
    text-decoration: underline;
}